body{
    /*background-color: #f0efec;*/
}

.input{
    position: absolute;
    top:20%;
    left:25%;
}

.output{
    height: 720px;
    margin: 880px 10px 20px 190px;
    background-color: white;
}


#left-nav{
    background-color: #fffcf9;
    margin-top: 880px;
    height: 720px;
    float:left;
    padding:5px;
}

#left-nav ul{
    list-style: none;
    width: 170px;
    height: 710px;
}
#left-nav ul li{
    height: 26px;
    line-height:26px;
    color: #4f4f4f;
    font-size: 16px;
    cursor:pointer;
}
#left-nav ul li span:hover{
    color: #2c5d92;
}

#section {
    position: relative;
    width:350px;
    float:right;
    padding:10px;
}

#footer {
    background-color:#222222;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

